@model Client.Models.UserDetailsViewModel

<h3>User Details:</h3>
<p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
<p><strong>Email:</strong> @Model.Email</p>

<h4>Delivery Address:</h4>
<p>
    <strong>Street:</strong> @Model.Address.Street <br />
    <strong>City:</strong> @Model.Address.City <br />
    <strong>Zip Code:</strong> @Model.Address.ZipCode <br />
    <strong>Country:</strong> @Model.Address.Country
</p>
